@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Edu+VIC+WA+NT+Beginner:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
:root{
    --blue: #4096E5;
    --pink: rgb(223, 47, 99);
}
.diary-text{
    color:var(--pink)
}
a{
    text-decoration: none;
    color: inherit;
}
.app{
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: var(--blue);
    width: 100%;

}
::selection{
    background-color: var(--pink);
    color: white;
}
.left_container{
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    padding: 20px 30px 0px 30px;
    width: 70%;
}
.left_container .profile img{
    display: none;
}
.input{
    border: none;
    padding: 15px;
    border-radius: 5px;
    text-transform: capitalize;
}
#text-box{
   margin-top: 20px;
   border: none;
   padding: 15px;
   border-radius: 5px;
   min-height: 350px;
}
.btn{
    margin-block: 20px;
    border: none;
    border-radius: 5px;
    padding-block: 5px;
    width: 80px;
}
.title{
    color: white;
    font-size: 30px;
    padding-bottom: 10px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
}
.right_container{
    background-color: white;
    width: 30%;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile img{
    height: 80px;
    border-radius: 50%;
    padding-top: 20px;
}

.your_name{
    padding-top: 20px ;
    color: var(--blue);
}
.info-container{
    padding: 20px 0px 0px 10px;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: space-between;
    color: white;
    padding-right: 30px;
}
.placeholder{
    color: var(--blue);
    padding-bottom: 5px;
    margin-top: 20px;
}
.field{
    padding-bottom: 10px;
    color: rgb(39, 39, 39);
}
.line{
    height: 0.5px;
    background-color: rgba(128, 128, 128, 0.74);
    width: 90%;
}
textarea:focus, input:focus{
    outline: none;
}
#text_wrap{
    background: rgba(211, 241, 240, 0.9);
    overflow-wrap: break-word;
    box-shadow: 0px 0px 5px 0px #888;
}
#text_wrap::before {
    content: '';
    position: absolute;
    right: 30%;
    margin-top: 40px;
    height: calc(93%);
    width: 2px;
    background: rgba(255,0,0,0.4);
  }
  #text_wrap_alt{
    overflow-wrap: break-word;
  }
  .lines {
    margin-top: 40px;
    height: calc(100% - 40px);
    width: 100%;
    background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
  }
@media only screen and (max-width:600px) {
    #text_wrap::before{
        right: 85%
    }
    .right_container{
        display: none;
        background-color: white;
        z-index: 10;
        position: absolute;
        height: 100vh;
        width: 100%;
    }
    .left_container{
        width: 90%;
    }
    .left_container .profile img{
        display: block;
        position: absolute;
        height: 40px;
        width: 40px;
        top: 0;
        right: 10px;
    }
}
.img-tape {
    position: relative;
    text-align: center;
    display: inline-block;
    margin: 20px auto 10px;
  }
  .img-tape:before,
  .img-tape:after {
    background: rgba(255, 255, 235, 0.6);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    content: "";
    display: block;
    height: 30px;
    position: absolute;
    margin: auto;
    width: 100px;
  }
  .img-tape--2:before {
    left: 0px;
    top: 0px;
    transform: rotate(-35deg);
  }
  .img-tape--2:after {
    right: 0px;
    top: 15px;
    transform: rotate(45deg);
  }
  .img-tape--a:before {
    left: -40px;
    top: 0px;
    transform: rotate(-35deg);
  }
  .img-tape--a:after {
    right: -40px;
    top: 15px;
    transform: rotate(45deg);
  }
  #drawbg{
    background:linear-gradient(to right top, blue, pink)
  }